.pagination {
  padding: 10px 70px 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 320px;
  width: 100%;
}

.pagination__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.pagination__item {
  margin: 2px;
  padding: 0;
}

.pagination__btn {
  width: 32px;
  height: 36px;
  margin: 0;
  padding: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  background-color: #2f2f2f;
  background-size: cover;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.pagination__btn_type_go {
  width: 120px;
}

.pagination__btn_active {
  background-color: #4285f4;
}

.pagination_btn:hover {
  opacity: 0.8;
  box-shadow: 0px 3px 7px rgb(255 255 255 / 55%);
}
